.wrap1{
    font-size: 25px;
    padding-top: 20px;

    h1{
        padding-bottom: 20px;
        padding-top: 50px;
    }

    p{
        margin-bottom: 20px;
    }
}
.img2{
    max-width: 400px;
    width: 100%;
}

