.wrap{
    font-size: 25px;
    padding-top: 20px;

    h1{
        padding-bottom: 20px;
        padding-top: 50px;
    }
}

.btn1{
    background-color: lightgray;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 30px;
}
.img1{
    max-width: 400px;
    width: 100%;

}
